@SIDEMARGIN:0px;
@TOP_BOTTOM_MARGIN:10px;
@HEADER_HEIGHT:40px;
@WIDTH:1920px - 1px;        // Midori i linux visar scrollbar för "tidigt"
@HEIGHT:1080px  - 1px;      // Midori i linux visar scrollbar för "tidigt"
@ROW_HEIGHT:45px;
@ROWS:20;
@TEXT_OFFSET_Y:3px;
@MAIN_HEIGHT: @HEIGHT - 2 * @TOP_BOTTOM_MARGIN - @HEADER_HEIGHT;
@SPACE: (@MAIN_HEIGHT - @ROWS * @ROW_HEIGHT ) / (@ROWS - 1);

body {
    //zoom: 99%;
    overflow: hidden;
}

.theme1,
.theme3 {
     #header {
         color: #a0a0a0;
     }

     #main {
        background-color: #606060;
        color: black;
     }

    li.larm,
    li.msg
    {
        background-color: #fe3535;
        color: white;
    }

    li.normal {
        background-color: #00d725;
    }
    li.ack {
        background-color: #eeee02;
    }
    li.none {
        background-color: #808080;
    }

    padding: 0;
    margin: 0;
    background-color: black;
}

.theme2
 {
     #header {
         color: #a0a0a0;
     }

     #main {
        background-color: black;
        color: white;
     }

    li.larm,
    li.msg
    {
        background-color: red;
    }

    li.normal {
        background-color: #007314;
    }
    li.ack {
        background-color: yellow;
        color: black;
    }
    li.none {
        background-color: gray;
        color: black;
    }

    padding: 0;
    margin: 0;
    background-color: black;
}

.theme0
{
     #header {
         color: #666666;
     }

     #main {
        background-color: #dddddd;
        color: black;
     }

    li.larm,
    li.msg
    {
        background-color: #ffa8a8;
    }

    li.normal {
        background-color: #9cffad;
    }
    li.ack {
        background-color: #ffff93;
    }
    li.none {
        background-color: #cccccc;
        color: #666666;
    }

    padding: 0;
    margin: 0;
    background-color: black;
}


#main {
    padding: @TOP_BOTTOM_MARGIN @SIDEMARGIN @TOP_BOTTOM_MARGIN @SIDEMARGIN;
    margin: 0;
    position: relative;

    height: @HEIGHT - @TOP_BOTTOM_MARGIN - @TOP_BOTTOM_MARGIN;
    width: @WIDTH - @SIDEMARGIN - @SIDEMARGIN;
    font-size: 22pt;
    font-family: 'Segoe UI', "Open Sans", Geneva, Verdana, sans-serif, Tahoma;
    overflow: hidden;
}

#header {
    height:@HEADER_HEIGHT;
    h1 {
        margin-left:1em;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        font-size: 18pt;
        font-weight: normal;
    }
    #klocka {
        float: right;
        margin-right: 1em;
    }
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
        height: @ROW_HEIGHT;
        div {
            display: inline-block;
            position: relative;
            top: @TEXT_OFFSET_Y;
            overflow: hidden;
            white-space: nowrap;
        }
        .space {            
            width: 1%;      // Det finns 4 st
        }
        .tid {            
            left: 5px;
            width: 12%;
        }
        .system {
            width: 11%;
        }
        .tag {
            width: 26%;
        }
        .text {
            width: 42%;
        }
        .status {
            width: 5%;
            text-align: right;
            left: -5px;
        }
    }
    li + li { 
        margin-top: @SPACE;
    }
}

.truncedWarning
{
    display:none;
    width:100%;
    position: absolute;
    left: 0px;
    bottom: 0;
    height: 1.5em;
    background-color: #868686;
    color: white;
    border-top: 0.3em solid black;
    text-align: center;
}
.offlineWarning {
    display:none;
    width:100%;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 1em;
    font-weight: bold;
    color: white;
    background-color: red;
    //border: 1em solid black;
    padding: 0.5em;
    text-align: center;
}

.wwwoffline {
    .offlineWarning {
        display: block;
    }
    ul {
        opacity: 0.6;
    }
}
.trunced .truncedWarning {
    display: block;
}

#login {
    font-family: 'Segoe UI', "Open Sans", Geneva, Verdana, sans-serif, Tahoma;
    font-size: 14pt;
    label {
        width: 7em;
        display: inline-block;
    }
    #loginbtn {
        margin-top: 2em;
    }
}

.admin {
    #main {
        height: auto;
        width: 100%;
        
    }    
    #logout {
        display: block;
        float: right;
        margin-right: 1em;
    }
}